body {
	background-color: black;
}

.totalContent-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 22.3%;
	margin-right: 22.9%;
}


.about-container {
	flex-wrap: wrap; 
}

.about-container > h2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;

	color: #FFF598;
}

.about-container > p {
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	padding-top: 72px;

	color: #FFFFFF;
}

.about-container > p span {
	text-decoration: underline;
}

.value-container {
	flex-wrap: wrap;
	margin-top: 130px;
}

.value-container > h2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;

	color: #FFF598;
}

.valuesRow-container {
	display: flex;
	flex-direction: row;
	margin-top: 75px;
	justify-content: space-around;
}

.imgcol-container {
	display: flex;
	flex-direction: column;
}

.imgCol-container > img {
}

.titleTextCol-container {
	display: flex;
	flex-direction: column;
}

.titleTextCol-container > h3 {
	margin-left: 10%;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;

	color: #FFF598;
}

.smallTextCol {
	display: flex;
	flex-direction: column;
}

.smallTextCol-container > p {
	margin-left: 10%;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;

	color: #FFFFFF;
}

.smallTextCol-container > p span {
	text-decoration: underline;
}

.slide-container {
	width: 717px;
	height: 355px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}

.image-container {
	width: 2151px;
	height: 355px;
	position: relative;
	transition: left 2s;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
}

.slider-image {
	float: left;
	margin: 0px;
	padding: 0px;
}

.button-container {
	top: -50px;
	position: relative;
}

.slider-button {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: white;
}

#slider-image-1:target ~ .image-container {
	left:0px;
}
#slider-image-2:target ~ .image-container {
	left:-717px;
}
#slider-image-3:target ~ .image-container {
	left:-1434px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}